---
import HtmlCounter from "../../components/html-counter.astro";
import SolidCounter from "../../components/solid-counter";
import VueCounter from "../../components/vue-counter.vue";
import SvelteCounter from "../../components/svelte-counter.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Multi Counter</h1>
    <HtmlCounter />
    <SvelteCounter client:load />
    <SolidCounter client:load />
    <VueCounter client:load />
  </body>
</html>
